<script context="module">
export async function load ({ fetch, params }) {
    const { uid } = params

    const data = await fetch(`/api/pages/${uid}.json`)
    const pageData = await data.json()
  
    return {
      props: {
        page: pageData
      }
    }
  }
</script>

<script>
  export let page
</script>

<h1>
  {page.page.data[0].attributes.Title}
</h1>