<script context="module">
  export async function load ({ fetch }) {
    const data = await fetch('/api/pages.json')
    let pages = await data.json()

    pages = pages.pages
  
    return {
      props: {
        pages
      }
    }
  }
</script>

<script>
  export let pages
  const enter = () => entered = !entered
  let entered = false
  import { page } from "$app/stores"
  import { fade, fly } from "svelte/transition"
  import "../app.css";
</script>

{#if !entered}
  <div
    on:click={enter}
    out:fly={{ duration: 1000 }}
    class="fixed inset-0 flex flex-col justify-center cursor-pointer themed z-40"
  >
    <div class="center">
      <img src="/Kommunalradio-white.png" class="w-32 mx-auto mb-2" />
      <h1 class="italic w-full text-center font-display text-3xl">
        <span class="md:hidden font-display">Tap</span> <span class="hidden sm:inline-block font-display">Click</span> to enter
      </h1>
    </div>
  </div>
{/if}

<div class="live fixed top-0 mt-4 ml-6 font-display text-3xl text-red-500 select-none">
  Live
</div>

<a href="https://kosmostabir.org/kyivspacehedgehog" class="fixed top-0 mt-4 mr-6 right-0 font-display text-3xl text-yellow-500 select-none">
  Donate
</a>

{#key $page.url.pathname}
  <main class="px-4" in:fade={{ duration: 300, delay: 300}} out:fade={{ duration: 300}}>
    <slot />
  </main>
{/key}

<style lang="postcss">
  .live {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }

  @-webkit-keyframes glow {
  from {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 8px #e60073, 0 0 12px #e60073, 0 0 16px #e60073, 0 0 20px #e60073, 0 0 24px #e60073;
    transform: scale(1);
  }
  to {
    text-shadow: 0 0 4px #fff, 0 0 8px #ff4da6, 0 0 12px #ff4da6, 0 0 16px #ff4da6, 0 0 20px #ff4da6, 0 0 24px #ff4da6, 0 0 28px #ff4da6;
    transform: scale(1.2);
  }
}
</style>