<script context="module">
  export async function load ({ fetch }) {
    const data = await fetch('/api/pages.json')
    let pages = await data.json()
  
    return {
      props: {
        pages
      }
    }
  }
</script>

  <script>
    import Screen from "../components/Screen.svelte"
    import Switchy from "../components/Switchy.svelte"
    import TypedJs from '@loscrackitos/svelte-typed-js';
    import { browser } from "$app/env"
    import { fly } from "svelte/transition"

    export let pages
  </script>

  <svelte:head>
    <title>
      Kommunalradio
    </title>
  </svelte:head>
  
  {#if browser}
    <main class="index">
      <Screen streamId={import.meta.env.VITE_STREAM_ID} />
      <Switchy />
      <div class="fixed hidden md:block inset-0 font-display -z-20 backgroundAnimation">
        <TypedJs
          typeSpeed={200}
          backDelay={1000}
          backSpeed={20}
          strings={[
            'KkkkKkKkK',
            'OoooOoooo',
            'mmMMmMmMMmm',
            'uUUuUUuuu',
            'nNNnNNnnnnN',
            'AAAaaAa',
            'llLlLlLL',
            'rrrRRRRRRR',
            'aaaAaAaaa',
            'DdddDddd',
            'IiiIiiiii',
            'oooOOoOOO'
          ]}>
          <h1 class="typing font-display text-[50vmin]"></h1>
        </TypedJs>
      </div>
    </main>
  {/if}

  <style>
    .backgroundAnimation {;
      top: 50%;
      transform: translate(0, -75%);
      animation: pulsey 10s ease-in-out infinite alternate;
    }

    @keyframes pulsey {
      from {
        opacity: 0.4;
      }
      to {
        opacity: 0.9;
      }
    }
  </style>