@font-face {
  font-family: 'PicNic';
  src: url('PicNic-Regular.eot');
  src: url('PicNic-Regular.eot?#iefix') format('embedded-opentype'),
      url('PicNic-Regular.woff2') format('woff2'),
      url('PicNic-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}