<script>
  export let pages = []
</script>

<nav class="navigation text-2xl font-bold px-4 py-2">
  <ul class="flex">
    <li class="pr-2">
      <a href="/" class="hover:underline">
        Radio FHain
      </a>
    </li>
    {#each pages.data as page, i}
      {#if page.id !== 1}
        <li>
          <a href="/{page.attributes.UID}" sveltekit:prefetch class="hover:underline transition-all">
            {page.attributes.Title}
          </a>
        </li>
      {/if}
    {/each}
  </ul>
</nav>
