<!-- <svelte:head>
  <script src="https://cdn.skypack.dev/three@0.120.1"></script>
  <script src="https://cdn.skypack.dev/three@0.120.1/examples/jsm/loaders/GLTFLoader.js"></script>
  <script src="https://cdn.skypack.dev/three@0.120.1/examples/jsm/renderers/CSS3DRenderer.js"></script>
</svelte:head> -->

<script>
  import { browser } from '$app/env'
	import * as THREE from 'three'
  import { GLTFLoader } from 'three/examples/jsm/loaders/GLTFLoader.js'

	import {
    CSS3DRenderer,
		CSS3DObject
	} from 'three/examples/jsm/renderers/CSS3DRenderer.js'
  import { onMount } from "svelte"

  export let pages
  export let streamId

	let camera,
      scene,
      group,
      renderer,
      renderer2

  let floor
	// let controls
	let Element = function (id, x, y, z, ry) {
		let div = document.createElement('div')
		div.style.width = '480px'
		div.style.height = '360px'
		div.style.backgroundColor = '#000'
		let iframe = document.createElement('iframe')
		iframe.style.width = '480px'
		iframe.style.height = '360px'
		iframe.style.border = '0px'
		iframe.src = ['https://www.youtube-nocookie.com/embed/', id, '?rel=0&autoplay=1&mute=0&controls=0'].join('')
		div.appendChild(iframe)
		let object = new CSS3DObject(div)
		object.position.set(x, y, z)
		object.rotation.y = ry
		return object
	}

	function init() {
		let container = document.getElementById('container')
		let container2 = document.getElementById('container2')

    const near = 1
    const far = 5000

		camera = new THREE.PerspectiveCamera(50, window.innerWidth / window.innerHeight, near, far)
		camera.position.set(0, -600, 400)
    camera.rotation.set(Math.PI / 3, 0, 0)

		scene = new THREE.Scene()

		renderer = new CSS3DRenderer()
		renderer.setSize(window.innerWidth, window.innerHeight)
    renderer2 = new THREE.WebGLRenderer({ alpha: true, antialias: true })
    renderer2.setSize(window.innerWidth, window.innerHeight)
    renderer2.setClearColor( 0x000000, 0 )
    renderer2.setPixelRatio( window.devicePixelRatio )
    renderer2.shadowMap.enabled = true
    renderer2.shadowMap.type = THREE.PCFSoftShadowMap // default THREE.PCFShadowMap
    
		container.appendChild(renderer.domElement)
    container2.appendChild( renderer2.domElement )

    group = new THREE.Group()
  
    const loader = new GLTFLoader()
    loader.load('/v3.glb', (gltf) => {
      gltf.scene.scale.set(10000,10000,10000)
      gltf.scene.position.z -= 290
      gltf.scene.rotation.set(Math.PI / 2, 0, 0)
      const shrooms = gltf.scene
      shrooms.name = 'mushrooms'
      group.add(shrooms)
    })

    floor = new Element('ReXw7O32kJA', 0, 0, 0, 0)
    const light = new THREE.AmbientLight( 0x404040 ); // soft white light
		group.add(floor)
    scene.add(light);
		scene.add(group)

		window.addEventListener('resize', onWindowResize, false)
	}

	function onWindowResize() {
		camera.aspect = window.innerWidth / window.innerHeight
		camera.updateProjectionMatrix()
		renderer.setSize(window.innerWidth, window.innerHeight)
	}

  let previousScale

	function animate() {
		requestAnimationFrame(animate)
    group.rotation.z += 0.005

    let shrooms = scene.getObjectByName('mushrooms')
    if (shrooms) {
      // if (shrooms.scale.x < 100000) {
      //   shrooms.scale.x += 100
      //   shrooms.scale.y += 100
      // } else {
      //   shrooms.scale.x = 10000
      //   shrooms.scale.y = 10000
      // }
      // console.log(shrooms.scale.y)
    }
    
		renderer.render(scene, camera)
    renderer2.render(scene, camera)
	}

  onMount(() => {
    if (browser && container) {
      init()
      animate()
	  }
  })
</script>

<div
  id="container"
  class="fixed inset-0 -z-10"
/>

<div
  id="container2"
  class="fixed inset-0 z-0 pointer-events-none"
/>
