<script>
	import { browser } from '$app/env';

  // Define options
	let options = [
		{
			id: 'light',
			name: 'Light'
		},
		{
			id: 'dark',
			name: 'Dark'
		},
		{
			id: 'party',
			name: 'Party'
		}
	];

	let selected = options[0];
  let userChanged = false

  // Function to detect the user's preference. Returns the index of the corresponding class
  const detectColorPreference = () => {
    if (browser) {
      return window.matchMedia('(prefers-color-scheme: dark)').matches ? 1 : 0
    }

    return 0
  }

  // Check if the user changes their preference.
  const watchColorPreference = () => {
    if (browser) {
      window.matchMedia("(prefers-color-scheme: dark)")
        .addEventListener('change', () => {
          if (!userChanged) {
            selected = options[detectColorPreference()]
          }
        })
    }
  }

  selected = options[detectColorPreference()]

  // Watch the preference
  watchColorPreference()

  $: {
    if (browser) {
      console.log('changing className')
      document.body.className = ''
      document.body.classList.add(selected.id)
    }
  }
</script>

<h1 class:hidden={selected === options[0]} class="fixed cursor-pointer bottom-0 mb-4 ml-4 font-display text-3xl" on:click={() => { selected = options[0] }}>
  Light
</h1>

<h1 class:hidden={selected === options[1]} class="fixed cursor-pointer bottom-0 right-0 mb-4 mr-4 font-display text-3xl" on:click={() => { selected = options[1] }}>
  Dark
</h1>

<!-- <div class="px-4 absolute bottom-0 left-0 pb-4">
  <select bind:value={selected} on:change={() => userChanged = true}>
    {#each options as option}
      <option value={option}>
        {option.name}
      </option>
    {/each}
  </select>
</div> -->
