@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/**
  Stylez
*/

* {
  @apply font-sans;
}

body {
  @apply transition-colors duration-700;
}

body.light,
body.light input,
body.light select,
body.light .themed {
  @apply bg-gray-200;
}

body.light
{
  @apply text-blue-700;
}


body.dark,
body.dark input,
body.dark select,
body.dark .themed
{
  @apply bg-zinc-900;
}

body.dark {
  @apply text-orange-300;
}

body.party,
body.party input,
body.party select,
body.party .themed
{
  background-color: #e5e5f7;
  /* opacity: 0.8; */
  background-color: #d2fad9;
  /* opacity: 0.8; */
  background: linear-gradient(135deg, #d831f655 25%, transparent 25%) -8px 0/ 16px 16px, linear-gradient(225deg, #d831f6 25%, transparent 25%) -8px 0/ 16px 16px, linear-gradient(315deg, #d831f655 25%, transparent 25%) 0px 0/ 16px 16px, linear-gradient(45deg, #d831f6 25%, #d2fad9 25%) 0px 0/ 16px 16px;
}

body.party {
  @apply text-green-900 font-bold;
}

div,
input,
select {
  @apply transition-colors duration-1000;
}